{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/completionhomestyle.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <form action="{% url 'completion_home' %}", method="POST">
        {% csrf_token %}

        <header>
            <h1 class="theme">{{message}}</h1>
        </header>
        <div class="add_page_options">
            <div class="complete_btn"><a href="{% url 'home' %}">予定一覧</a></div>
            <div class="pagination">
                {% if data.has_previous %}
                    <div class="pagebtn"><a href="{% url 'completion_home' %}">&laquo;最初へ</a></div><div class="pagebtn"><a href="{% url 'completion_home' %}{{data.has_previous_page_number}}">&laquo;前へ</a></div>
                {% endif %}
                {% if data.has_next %}
                <div class="pagebtn"><a href="{% url 'completion_home' %}{{data.next_page_number}}">次へ&raquo;</a></div><div class="pagebtn"><a href="{% url 'completion_home' %}{{data.paginator.num_pages}}">最後へ&raquo;</a></div>
                {% endif %}
            </div>
        </div>
        <table>
            <tr>
                <th class="Number">No</th>
                <th class="kanryo_day">完了日</th>
                <th class="toki">期限</th>
                <th class="basho" id="basho">場所</th>
                <th class="naiyo" id="naiyo">内容</th>
                
            </tr>
        {% for item in data %}
            <tr>
                <td class="Number">{{item.id}}</td>
                <td class="kanryo_day">{{item.kanryo_day.year}}年{{item.kanryo_day.month}}月{{item.kanryo_day.day}}日</td>
                <td class="toki">{{item.toki.year}}年{{item.toki.month}}月{{item.toki.day}}日</td>
                <td class="basho">{{item.basho}}</td>
                <td class="naiyo">{{item.naiyo}}</td>
            </tr>
        {% endfor %}
        </table>
    </form>
</body>
</html>